@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@700&display=swap');

* {
    margin: 5px;
    padding: 5px; 
    border: none;
}

body {
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 300;
    color: #823af1
}

/* Navigation, Menu */

#logo {
    float: left;
    font-size: 150%;
    margin-left: 50px;
    color: #823af1
}

#menu {
    font-size: 125%;
    letter-spacing: 8px;
}

#menu a {
    text-decoration: wavy;
    color: inherit
}

#menu a:hover {
    border-bottom: 1px solid #823af1
}

.active {
    border-bottom: 1px solid #823af1
}

/* Footer, Social Links */

footer {
    height: 50px
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #823af1
}