@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@700&display=swap');

* {
    margin: 5px;
    padding: 5px; 
    border: none;
}

body {
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: 300;
    color: #823af1
}

/* Navigation, Menu, Logo */

#logo {
    float: left;
    font-size: 150%;
    margin-left: 10px;
    padding: 1px;
    letter-spacing: 8px;
    color: #823af1
}

#logo:hover {
    border-bottom: 1px solid #823af1;
}

#menu {
    font-size: 125%;
    letter-spacing: 8px;
}

#menu li {
    float: right;
    list-style-type:disc;
}

#menu a {
    text-decoration: wavy;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #823af1;
}

/* hero image */
#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: top;
}

#hero-image {
    height: 500px;
    width: 100%; 
    background: url('../images/tiny-hero-image3.jpg') no-repeat center center;    
}

/* Footer, Social Links */

footer {
    height: 50px
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 1%;
    color: #823af1
}

.social-networks i:hover {
    border-bottom: 1px solid #823af1
}